# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-output*.txt
test-prisma.ts

# Next.js build output
.next/
out/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
/prisma/generated
/prisma/*.db
/prisma/*.db-journal

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel
